<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <title class="mainTitle">
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="../bootstrap-5.0.2-dist/jquery-3.6.4.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="../bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <style>
        .navbar-nav .nav-link {
            color: #f9f7f6;
            border-radius: 0.25rem
        }

        .nav-link.active,
        .nav-link:hover {
            background-color: #f1592a;
            border-radius: 0.25rem;
        }

        .a-link {
            transition: linear 0.1s all;
        }

        .a-link:hover {
            transform: scale(1.06);
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-sm navbar-nav navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mainTitle homeViewButton" href="#">
                <img src="../assets/icn.icns" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link dormViewButton" href="#">Dorms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link studentViewButton" href="#">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link behaviorViewButton" href="#">Input Behavioral Data</a>
                    </li>
                    <li class="nav-item storeViewButton">
                        <a class="nav-link" href="#">Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="card-header bg-dark text-center text-white sticky-top">
        <div class="container">
            <div class="row">
                <div class="col-1 pull-left">
                    <h1 class="">Dormitories</h1>
                </div>
                <div class="col-5"></div>
                <div class="col-4 pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Doritormy Search"
                            aria-describedby="questionMark" id="searchField">
                        <div class="input-group-append">
                            <span class="input-group-text" id="questionMark">?</span>
                        </div>
                    </div>
                </div>
                <div class="col-1 pull-right"><button type="button" id="addStudentButton"
                        class="btn btn-outline-light pull-right" data-bs-toggle="modal" data-bs-target="#myModal">
                        Add Dorm
                    </button></div>
            </div>
        </div>
    </div>
    <div class="container mt-5" id="card-load">

    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Create New Dorm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="mb-3">
                            <label for="name" class="form-label">Dorm ID Number</label>
                            <input type="text" class="form-control" id="dormID" placeholder="Enter Dorm">
                        </div> -->
                        <div class="mb-3">
                            <label for="x" class="form-label">Max Number of Students</label>
                            <input type="" class="form-control" id="maxNumStudents"
                                placeholder="Enter Max No. of Students">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="submitDormButton">Add Dorm</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script src="../utils/launchpage.js"></script>
    <script src="../controllers/dormViewController.js"></script>
</body>


</html>

</html>