<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <title class="mainTitle">
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="../bootstrap-5.0.2-dist/jquery-3.6.4.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="../bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <style>
        .navbar-nav .nav-link {
            color: #f9f7f6;
            border-radius: 0.25rem
        }

        .nav-link.active,
        .nav-link:hover {
            background-color: #f1592a;
            border-radius: 0.25rem;
        }

        .a-link.active,
        .a-link:hover {
            background-color: #f9f7f6;
            border-radius: 0.25rem;
        }
    </style>

</head>

<body class="bg-secondary">
    <nav class="navbar sticky-top navbar-expand-sm navbar-nav navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mainTitle homeViewButton">
                <img src="../assets/icn.icns" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link dormViewButton">Dorms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link studentViewButton">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link behaviorViewButton">Input Behavioral Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link storeViewButton">Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card-header text-center text-white sticky-top bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-1 pull-left">
                    <h1 class="">Store</h1>
                </div>
                <div class="col-5"></div>
                <div class="col-4 pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Store Search"
                            aria-describedby="questionMark" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text" id="questionMark">?</span>
                        </div>
                    </div>
                </div>
                <div class="col-1 pull-right"><button type="button" id="addStudentButton"
                        class="btn btn-outline-light pull-right" data-bs-toggle="modal" data-bs-target="#myModal"
                        disabled>
                        Add Product
                    </button></div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h1 class="pt-6 text-center">COMING SOON: FEATURE NOT YET IMPLEMENTED
        </h1>
    </div>
    <script src="../utils/launchpage.js"></script>
    <script src="../controllers/storeViewController.js"></script>
</body>


</html>

</html>